*{
  margin: 0;
  padding: 0;
}
h2 {
  text-align: center;
}
.home-container {
  position: relative;
}

.top-section {
  position: relative;
  width: 100%;
  height: 800px; /* Adjust the height as needed */
  overflow: hidden;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}
.middle {
  background-color: #E2DFD0;
}
/* Video 2 Inside Currency */
.currency-container {
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 800%;
  overflow: hidden;
  object-fit: cover;
  z-index: -1; /* Ensure the video stays behind the content */
}

.video2 {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.content-container {
  z-index: 1; /* Ensure the content stays above the video */
  /* Add any additional styling for the content container */
}

.content-container {
  color:white;
}