body{
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */

.navbar-custom {
  background-color: #09467c;
}

/* Other components */

.home-container {
  position: relative;
}

.top-section {
  position: relative;
  width: 100%;
  height: 800px; /* Adjust the height as needed */
  overflow: hidden;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}
.middle {
  background-color: #f0f0f0; /* Light gray background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for 3D effect */
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Add rounded corners */
}


.currency-container {
  position: relative;
  /* padding: 50px; */
  width: 30%;
  /* height: 100vh; */
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

form {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  /* padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 50px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

label {
  color: black;
  font-weight: bold;
}

select{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width:200px;
  padding: 8px;
}
#fromCurrency {
  margin: 8px;
}
#toCurrency {
  margin: 8px;
}
#btn {
  margin: 6px 0px 0px;
}
input, button {
  /* margin: 50px; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
} */

/* button:hover {
  background-color: #0056b3;
} */
.result {
  color:black;
}

p {
  margin-top: 10px;
  font-weight: bold;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}
.connectCenter {
  text-align:center;
}
.below {
  background-color: #ffffff; /* White background */
  padding: 20px; /* Add padding for spacing */
}
.footer-icon {
  text-align: center;
  background-color: #09467c;
  font-size: 24px;
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
.copyright {
  font-size: 18px;
}
.icon {
  padding: 4px;
}
